doctype html
title HawkRover
head
  link(rel='stylesheet' href='home.css')
header
  .container
    nav
      ul
        li.title Hawk rover
        li
          a(href='index.html') Controls
        li
          a(href='visuals.html') Visuals
.row
  .column
    h2 Rp LiDAR
    p
      label.toggle1
        input(type='checkbox')
        span.slider.round
  .column
    h2 Rear USB
    p
      label.toggle2
        input(type='checkbox')
        span.slider.round
  .column
    h2 Front USB
    p
      label.toggle3
        input(type='checkbox')
        span.slider.round
script(src='main.js')